<a href="https://colab.research.google.com/github/kaashcro/MAT421-ComputationalMethods/blob/main/Homework1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Kaitlyn Ashcroft

In [12]:
import numpy as np
import matplotlib.pyplot as plt

Base_N and Binary

In [2]:
x=54 #as seen in the text 54 can be convert from base 10 to base 2. We take 54 and divide it up into values that can be be gotten from 2
# so 32 has a base of 2, 16 has a base of 2, 4 has a base of 2, and 2 has a base of 2. Then we put it in a series of 2^n to convert it to binary.
# 32= 1*2^5, 16=1*2^4, 4=1*2^2, and 2=1*2^1, but because it is a series we have to have the values in between but they are times by zero
# 0*2^3 0*2^0
#The binary we get is 110110, the computer should get this when we plug 54 into bin()
print(x,'=',bin(x))

54 = 0b110110

Floating Point Numbers

In [9]:
import sys
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [17]:
np.spacing(1e10) # The gap in the number and the number represent when the number is at 1e10

1.9073486328125e-06

In [18]:
1e10 == (1e10 + np.spacing(1e9)/3) #making sure that the gap is less than half the same value

True

In [19]:
largest = (2**(2046-1023))*((1 + sum(0.5**np.arange(1, 53))))
largest

1.7976931348623157e+308

In [20]:
sys.float_info.max

1.7976931348623157e+308

In [21]:
smallest = (2**(1-1023))*(1+0)
smallest

2.2250738585072014e-308

In [22]:
sys.float_info.min #smallest number increment that the 32 bit computer can compute

2.2250738585072014e-308

Round-off Errors

In [27]:
# so when we add 7.8-7.678 we excpect it to equal 0.122 but it will not because flouting point is an aproximation of a number and thus cannot be
#represetented by an exact number
7.8 - 7.678 == 0.122

False

In [28]:
#what the comuter gets instead is
7.8-7.678

0.12199999999999989

In [33]:
# when adding 1+1/3-1/3 7you should get 1, and yo udo on the first iteration, however f you run through the problem multiple times the computer stars getting of from 1
def add_and_subtract(iterations):
 result = 1

 for i in range(iterations):
  result += 1/3
 for i in range(iterations):
  result -= 1/3
 return result

# for 100 iterations of this you get a small deviation from 1
add_and_subtract(100)

1.0000000000000002

In [36]:
#for 1000 interations you'll get a larger deviation from 1
add_and_subtract(1000)

1.0000000000000064

In [38]:
#for 1000000 yoou'll get an even larger deviation form 1
add_and_subtract(100000)

1.0000000000019214